body{ 
	background-color: #FFFF00;
	width: 750px;
	margin: 0 auto;
}
#banner{
	
	width: 100%;
}

#navbar{
	width: 750px;	
	margin-top: 150px;
	text-align: center;
}

#navbutton{
	display: inline-block;
	text-align: center;
	width: 100px;
	border-radius: 10px;
	border: 1px dotted red;
	padding: 2px;
	font-weight: bold;
}

#navbutton:hover{
	border: 1px solid black;
	background-color: red;
}

#navbar:hover a{
	color: yellow;
	
}

#navbar a{
	text-decoration: none;
	color: red;
}

p{
font-family: serif;
font-style:normal;
color:red;
}

h1{
color:red;
font-style:normal;
font-family:serif;
}

#footer {
	background: linear-gradient(#ff0000, #A60000);
	width:750px;
	border-radius:15px;
	
}
#footer p {
	color: white;
	text-align:center;
	line-height:50px;
}
