body{ 
	background-color: #FFFF00;
	width: 750px;
	margin: 0 auto;
}
body img{
	width: 100%;
}

#navbar{
	position: absolute;
	margin-top: 150px;
}

#navbar div{
	display: inline;
	width: 100px;
	border-radius: 10px;
	border: 1px solid red;
}

#navbar a{
	text-decoration: none;
	color: red;
}

p{
font-family: serif;
font-style:normal;
font-color:red;
}

h1{
font-color:red;
font-style:normal;
font-family:serif;
}

#footer {
	background-color: red;
	width:750px;
	border-radius:15px;
	
}
#footer p {
	color: white;
	text-align:center;
	line-height:50px;
}
